---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Planets fact site">
  <!-- THE HEADER -->
  <Header />
  <main>
    <section class="">
      <!-- OVERVIEW , STRUCTURE & SURFACE FOR TABLET & DESKTOP-->
      <div
        class="relative my-8 flex items-center justify-between gap-[2.69rem] px-6 after:absolute after:-bottom-4 after:left-0 after:mx-0 after:h-[0.0625rem] after:w-full after:bg-[#fff] after:opacity-20 md:max-2xl:hidden"
      >
        <button
          type="button"
          class="font-League-Spartan relative text-[0.5625rem] font-bold uppercase leading-normal tracking-[0.12056rem] text-[#fff] opacity-50 transition-all duration-500 ease-linear active:opacity-0 active:after:-bottom-[1.06rem] active:after:h-1 active:after:w-20 active:after:bg-[#419EBB]"
          >OVERVIEW</button
        >
        <button
          type="button"
          class="font-League-Spartan text-[0.5625rem] font-bold uppercase leading-normal tracking-[0.12056rem] text-[#fff] opacity-50 transition-all duration-500 ease-linear active:opacity-0"
          >Structure</button
        >
        <button
          type="button"
          class="font-League-Spartan text-[0.5625rem] font-bold uppercase leading-normal tracking-[0.12056rem] text-[#fff] opacity-50 transition-all duration-500 ease-linear active:opacity-0"
          >Surface
        </button>
      </div>
      <!-- PLANET IMAGE -->
      <div class="mt-[5.94rem] flex items-center justify-center">
        <img
          src="/images/planet-mercury.svg"
          alt="lanet-mercury.svg"
          class="size-[6.9375rem] md:size-[11.5rem] xl:size-[18.125rem]"
        />
      </div>
      <!-- PLANET NAME & MORE DESCRIPTION -->
      <div class="mx-6 mt-[6.12rem]">
        <!--  PLANET NAME & DESCRIPTION  -->
        <div
          class="flex flex-col items-center justify-center gap-8 text-center"
        >
          <div class="flex flex-col items-center justify-center gap-4">
            <!-- THE NAME -->
            <h1
              class="font-Antonio text-[2.5rem] font-normal uppercase leading-normal text-[#fff]"
            >
              mercury
            </h1>
            <!-- THE DESCRIPTION -->
            <p
              class="font-League-Spartan w-[20.4375rem] text-sm font-normal leading-[1.375rem] text-[#fff]"
            >
              Mercury is the smallest planet in the Solar System and the closest
              to the Sun. Its orbit around the Sun takes 87.97 Earth days, the
              shortest of all the Sun's planets. Mercury is one of four
              terrestrial planets in the Solar System, and is a rocky body like
              Earth.
            </p>
          </div>
          <!-- SOURCE LINK WKIPEDIA -->
          <div class="flex items-center justify-between gap-1">
            <h3
              class="font-League-Spartan text-xs font-normal leading-[1.5625rem] text-[#fff] opacity-50"
            >
              Source :
            </h3>
            <a
              href="https://en.wikipedia.org/wiki/Mercury_(planet)#Surface_geology "
              class="font-League-Spartan flex cursor-pointer items-center gap-1 text-xs font-bold leading-[1.5625rem] text-[#fff] underline opacity-50"
            >
              Wikipedia
              <img src="/images/icon-source.svg" alt="" class="" />
            </a>
          </div>
        </div>
        <!-- OVERVIEW , STRUCTURE & SURFACE FOR TABLET & DESKTOP-->
        <div class="hidden md:max-2xl:flex"></div>
      </div>
    </section>
    <!-- PLANET DATA -->
    <section
      class="mx-6 mb-[2.94rem] mt-7 flex flex-col items-center justify-center gap-2 md:mb-[2.25rem] md:ml-[2.44rem] md:mr-10 md:mt-[1.69rem] md:gap-[0.69rem] md:max-2xl:flex-row md:max-2xl:justify-between xl:mx-[10.31rem] xl:mb-14 xl:mt-[5.44rem] xl:gap-[1.87rem]"
    >
      <!-- ROTATION TIME -->
      <div
        class="flex h-12 w-[20.4375rem] items-center justify-between border border-solid border-[#fff] border-opacity-20 px-6 py-[0.56rem] md:h-[5.5rem] md:w-[10.25rem] md:gap-[0.38rem] md:pb-[1.19rem] md:pl-[0.94rem] md:pt-4 md:max-2xl:flex-col md:max-2xl:items-start xl:h-32 xl:w-[15.9375rem] xl:gap-1 xl:pb-[1.69rem] xl:pl-[1.44rem] xl:pt-5"
      >
        <h3
          class="font-League Spartan text-[0.5rem] uppercase leading-4 tracking-[0.04544rem] text-[#fff] opacity-50 xl:text-[0.6875rem] xl:tracking-[0.0625rem]"
        >
          ROTATION TIME
        </h3>
        <h3
          class="font-Antonio text-xl font-normal uppercase leading-normal tracking-[-0.04688rem] text-[#fff] md:text-2xl md:tracking-[-0.05625rem] xl:text-[2.5rem] xl:tracking-[-0.09375rem]"
        >
          58.6 days
        </h3>
      </div>
      <!-- REVOLUTION TIME -->
      <div
        class="flex h-12 w-[20.4375rem] items-center justify-between border border-solid border-[#fff] border-opacity-20 px-6 py-[0.56rem] md:h-[5.5rem] md:w-[10.25rem] md:gap-[0.38rem] md:pb-[1.19rem] md:pl-[0.94rem] md:pt-4 md:max-2xl:flex-col md:max-2xl:items-start xl:h-32 xl:w-[15.9375rem] xl:gap-1 xl:pb-[1.69rem] xl:pl-[1.44rem] xl:pt-5"
      >
        <h3
          class="font-League Spartan text-[0.5rem] uppercase leading-4 tracking-[0.04544rem] text-[#fff] opacity-50 xl:text-[0.6875rem] xl:tracking-[0.0625rem]"
        >
          REVOLUTION TIME
        </h3>
        <h3
          class="font-Antonio text-xl font-normal uppercase leading-normal tracking-[-0.04688rem] text-[#fff] md:text-2xl md:tracking-[-0.05625rem] xl:text-[2.5rem] xl:tracking-[-0.09375rem]"
        >
          87.97 days
        </h3>
      </div>
      <!-- radius -->
      <div
        class="flex h-12 w-[20.4375rem] items-center justify-between border border-solid border-[#fff] border-opacity-20 px-6 py-[0.56rem] md:h-[5.5rem] md:w-[10.25rem] md:gap-[0.38rem] md:pb-[1.19rem] md:pl-[0.94rem] md:pt-4 md:max-2xl:flex-col md:max-2xl:items-start xl:h-32 xl:w-[15.9375rem] xl:gap-1 xl:pb-[1.69rem] xl:pl-[1.44rem] xl:pt-5"
      >
        <h3
          class="font-League Spartan text-[0.5rem] uppercase leading-4 tracking-[0.04544rem] text-[#fff] opacity-50 xl:text-[0.6875rem] xl:tracking-[0.0625rem]"
        >
          radius
        </h3>
        <h3
          class="font-Antonio text-xl font-normal uppercase leading-normal tracking-[-0.04688rem] text-[#fff] md:text-2xl md:tracking-[-0.05625rem] xl:text-[2.5rem] xl:tracking-[-0.09375rem]"
        >
          2,439.7 km
        </h3>
      </div>
      <!-- AVERAGE TEMP. -->
      <div
        class="flex h-12 w-[20.4375rem] items-center justify-between border border-solid border-[#fff] border-opacity-20 px-6 py-[0.56rem] md:h-[5.5rem] md:w-[10.25rem] md:gap-[0.38rem] md:pb-[1.19rem] md:pl-[0.94rem] md:pt-4 md:max-2xl:flex-col md:max-2xl:items-start xl:h-32 xl:w-[15.9375rem] xl:gap-1 xl:pb-[1.69rem] xl:pl-[1.44rem] xl:pt-5"
      >
        <h3
          class="font-League Spartan text-[0.5rem] uppercase leading-4 tracking-[0.04544rem] text-[#fff] opacity-50 xl:text-[0.6875rem] xl:tracking-[0.0625rem]"
        >
          AVERAGE TEMP.
        </h3>
        <h3
          class="font-Antonio text-xl font-normal uppercase leading-normal tracking-[-0.04688rem] text-[#fff] md:text-2xl md:tracking-[-0.05625rem] xl:text-[2.5rem] xl:tracking-[-0.09375rem]"
        >
          430°c
        </h3>
      </div>
    </section>
  </main>

  <style></style>
</Layout>
