---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Planets fact site">
  <!-- THE HEADER -->
  <Header />
  <main></main>

  <style></style>
</Layout>
